// ---------------------BASE---------------------------

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    display: flex;
    list-style: none;
}

// ------------------------------------------------------




// ---------------------HEADER---------------------------

.main-header {
    background: #f6f6f6;
    padding: 22px 0;

    .header-container {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;

        #menu-checkbox {
            display: none;
        }

        nav {
            margin-top: 20px;

            .main-menu {
                display: flex;

                .menu-item:not(:last-child) {
                    margin-right: 63px;
                }

                &__link {
                    color: #000;
                    font-size: 16px;
                    padding: 27px 6px;
                    text-transform: uppercase;
                    letter-spacing: 1.6px; 

                    &:hover {
                        background-color: #ffea00;
                    }
                }
            }
        }
    }
}
// -----------------------------------------------------