* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.main-header {
  background: #f6f6f6;
  padding: 22px 0;
}

.main-header .header-container {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-header .header-container #menu-checkbox {
  display: none;
}

.main-header .header-container .main-nav {
  margin-top: 20px;
}

.main-header .header-container .main-nav .main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-header .header-container .main-nav .main-menu__item:not(:last-child) {
  margin-right: 63px;
}

.main-header .header-container .main-nav .main-menu__link {
  color: #000;
  font-size: 16px;
  padding: 27px 6px;
  text-transform: uppercase;
  letter-spacing: 1.6px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.main-header .header-container .main-nav .main-menu__link:hover {
  background-color: #ffea00;
}

.main-content .top-container {
  background: url(/images/main-bg.jpg) no-repeat;
  background-size: cover;
  padding-top: 136px;
  padding-bottom: 255px;
}

.main-content .top-container .top-slide {
  width: 85%;
  margin: 0 auto;
}

.main-content .top-container .top-slide :nth-child(2) {
  margin-bottom: 10px;
}

.main-content .top-container .top-slide__title {
  display: inline;
  background-color: #ffea00;
  text-transform: uppercase;
  color: #000000;
  font-size: 70px;
  padding: 0 13px;
}

.main-content .top-container .top-slide__subtitle {
  display: inline;
  background-color: #414146;
  color: #ffffff;
  font-size: 24px;
  padding: 0 4px;
}

.main-content .specialize-container {
  padding-top: 90px;
  background-color: #f6f6f6;
}

.main-content .specialize-container .specialize {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.main-content .specialize-container .specialize__title {
  color: #424147;
  font-size: 35px;
  text-transform: uppercase;
}

.main-content .specialize-container .specialize__subtitle {
  margin-bottom: 40px;
  color: #424147;
  font-size: 24px;
}

.main-content .specialize-container .specialize .cards-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-content .specialize-container .specialize .cards-block .card .bottom-card {
  background-color: #414146;
  position: relative;
  top: -10px;
}

.main-content .specialize-container .specialize .cards-block .card .bottom-card .bottom-card__description {
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 23px;
}

.main-content .portfolio {
  width: 90%;
  margin: 0 auto;
  padding-top: 90px;
  text-align: center;
}

.main-content .portfolio__title {
  display: inline-block;
  color: #ffea00;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #424147;
  padding: 5px 25px;
  margin-bottom: 30px;
}

.main-content .portfolio__description {
  color: #424146;
  font-size: 16px;
}

.main-content .portfolio .toggles__button {
  border: none;
  color: #424146;
  background-color: inherit;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  margin: 20px 5px;
}

.main-content .portfolio .toggles__button:not(:last-child)::after {
  content: " / ";
}

.main-content .portfolio__posts {
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto auto;
      grid-template-columns: auto auto auto auto;
  margin: 0 auto;
}

.main-content .brand-slider {
  width: 90%;
  margin: 0 auto;
  padding-top: 40px;
  text-align: center;
}

.main-content .brand-slider__title {
  display: inline-block;
  color: #ffea00;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #424147;
  padding: 5px 25px;
  margin-bottom: 30px;
}

.main-content .brand-slider__description {
  color: #424146;
  font-size: 16px;
  margin-bottom: 30px;
}

@media screen and (max-width: 420px) {
  .main-header .header-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .main-header .header-container .main-nav .toggle-button {
    margin-top: 20px;
    text-align: center;
    display: block;
    cursor: pointer;
    color: #000000;
  }
  .main-header .header-container .main-nav .toggle-button::after {
    content: attr(data-open);
    display: block;
  }
  .main-header .header-container .main-nav .main-menu {
    display: none;
    position: relative;
    top: 15px;
    right: 60px;
  }
  .main-header .header-container .main-nav .main-menu__item {
    width: 100%;
    display: block;
    font-size: 12px;
  }
  .main-header .header-container .main-nav .main-menu__link {
    display: block;
    padding: 8px;
    margin-right: -115px;
  }
  .main-header .header-container #menu-checkbox:checked + .main-nav .main-menu {
    display: block;
  }
  .main-header .header-container #menu-checkbox:checked + .main-nav .toggle-button::after {
    content: attr(data-close);
  }
  .main-content .top-container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .main-content .top-container .top-slide {
    text-align: center;
  }
  .main-content .top-container .top-slide__title {
    font-size: 55px;
  }
  .main-content .top-container .top-slide__subtitle {
    font-size: 20px;
  }
  .main-content .specialize-container {
    padding-top: 20px;
  }
  .main-content .specialize-container .specialize__title {
    font-size: 28px;
  }
  .main-content .specialize-container .specialize__subtitle {
    font-size: 16px;
    margin-bottom: 20px;
  }
  .main-content .specialize-container .cards-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main-content .specialize-container .cards-block .card:not(:last-child) {
    margin-bottom: 20px;
  }
  .main-content .specialize-container .cards-block .bottom-card {
    width: 250px;
    margin: 0 auto;
  }
  .main-content .portfolio {
    padding-top: 20px;
  }
  .main-content .portfolio__posts {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .main-content .portfolio__posts .post {
    overflow: hidden;
  }
  .main-content .brand-slider {
    padding-top: 20px;
  }
}
/*# sourceMappingURL=main.css.map */